/node_modules
/public/hot
/public/storage
/public/fotos
/public/2985ac2e5fba128e432d8e4c54a11c6f
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
config/database.php
/2985ac2e5fba128e432d8e4c54a11c6f